body {
	background-color: gray;
}

iframe{
	position:relative;
	width: 1000px;
	height: 1300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow-y: hidden;
	-ms-zoom: 0.70;
    -moz-transform: scale(0.70);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.70);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.70);
    -webkit-transform-origin: 0 0;
}

#wrap {
	margin-top: 30px;
	background-color:white;
	width: 700px;
	height: 905px;
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}