body {
	background-color: gray;
	font-family: 'Cardo', serif;
}

iframe{
	position:relative;
	width: 1000px;
	height: 1300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow-y: hidden;
	-ms-zoom: 0.60;
    -moz-transform: scale(0.60);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.60);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.60);
    -webkit-transform-origin: 0 0;
}



#wrap {
	border-radius: 3px;
	background-color:white;
	width: 600px;
	height: 775px;
	overflow: hidden;
	display: block;
	/*margin-left: 200px;*/
	float:right;
	margin-right: 200px;
	position: relative;
  	top: 49%;
  	transform: translateY(-50%);
}

#explanation {
	padding: 15px;
	border-radius: 5px;
	background-color: white;
	float: left;
	margin-left: 200px;
	width: 500px;
	position: relative;
  	top: 49%;
  	transform: translateY(-50%);
}

h1 {
	margin-bottom: 0;
}

h3 {
	margin: 0;
}


/* Responsive stuff */
@media (max-width: 1546px) {
	#wrap {
		margin-right: 100px;
	}

	#explanation {
		margin-left: 100px;
	}
}

@media (max-width: 1400px) {
	#wrap {
		margin-right: 60px;
	}

	#explanation {
		margin-left: 60px;
	}
}

@media (max-width: 1308px) {
	#wrap {
		margin-right: 20px;
	}

	#explanation {
		margin-left: 20px;
	}
}
