body {
	font-family: 'Cardo', serif;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: #191919;
}

#gallery-title {
	text-align: center;
	font-size: 30px;
	color: white;
	margin-top: 15px;
}

#title {
	text-align: center;
	font-size: 30px;
	font-style: italic;
	color: white;
	margin-top: 15px;
}

.large-stack {
	display: block;
	position: relative;
	width: 850px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}



.large {
	display: block;
	position: relative;
	width: 800px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#paris {
	width: 770px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

#top-photo {
	margin-top: 100px;
}

.recursive-container {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}

.recursive-large {
	display: block;
	position: relative;
	width: 850px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.recursive-stack{
	display:block;
	width: 575px;
	float: left;
	margin-top: 20px;
}

.recursive-single-right {
	display: block;
	width: 250px;
	margin-top: 20px;
	margin-right: 20px;
}

.recursive-single-left {
	display: block;
	width: 250px;
	margin-top: 20px;
	margin-left: 10px;
	margin-top: 0px;
}

.recursive-single-middle {
	clear: both;
	width: 250px;
	margin-top: 0px;
	margin-left: 35px;
}